<div class="scroll-area">
    <app-courses-treeview-edit #treeview [(course)]="course" [register]="register"></app-courses-treeview-edit>
</div>
<div class="text-center">
    <button mat-raised-button color="primary" (click)="onSave()">Enregistrer</button>
</div>