<div class="scroll-area" >
  <app-courses-preview-edit #preview [(course)]="course"></app-courses-preview-edit>
</div>
<div class="text-center">
  <button mat-raised-button color="primary" (click)="downloadPDF()">PDF</button>
</div>

